
body {
    background-color: black;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 60%, #151a29 100%);
    background-attachment: fixed;
    color: black;
    font-family: "tahoma", Sans-serif;
    padding: 25px;
    text-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px;
}
@media screen and (max-width: 500px) {
    body {
    padding: 10px;
}
}

.box {
    max-width: 425px;
    margin: auto;
    background-color: #fff;
    background-image: linear-gradient(180deg, #fff 0%, #E4E4F2 100%);
    background-repeat: repeat-x;
    background-size: contain;
    border-radius: 30px;
    border: ridge;
    border-width: 10px;
    border-color: #ff297e;
    padding: 30px;
    text-align: center;
}

.bigbox {
    max-width: 950px;
    margin: auto;
    background-color: #fff;
    background-image: linear-gradient(180deg, #fff 0%, #E4E4F2 100%);
    background-repeat: repeat-x;
    background-position-y: bottom;
    background-size: contain;
    border-radius: 30px;
    border: ridge;
    border-width: 10px;
    border-color: #ff297e;
    padding: 30px;
}

.qa {
    width: 100%;
    margin: auto;
    background-color: #fff;
    background-image: linear-gradient(180deg, #fff 0%, #E4E4F2 100%);
    background-repeat: repeat-x;
    background-size: contain;
    border-radius: 15px;
    border: none;
    padding: 15px;
    text-align: center;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 1px 1px 3px);
}

@media screen and (max-width: 500px) {
    .bigbox {
    padding: 20px;
    }
    .box {
    padding: 20px;
}
}

.gradientbutt {
    color: #fff;
    background-image: linear-gradient(#ff5c9d, #ff0059, #a8004f);
    padding: 8px;
    border-radius: 8px;
    border: hidden;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
    filter: drop-shadow(rgba(0, 0, 0, 0.8) 1px 1px 2px);
}

.gradientbutt:hover {
    background-image: linear-gradient(#ff9fc5, #ff5c9d, #ff0059);
}

.gradientbutt:focus {
    color: #f2f2f2;
    background-image: linear-gradient(#a8004f, #ff0059, #ff5c9d);
    filter: drop-shadow(rgba(0, 0, 0, 0) 1px 1px 2px);
}

.Sitebutts {
    color: #fff;
    background-image: linear-gradient(#ff5c9d, #ff0059, #a8004f);
    padding: 8px;
    font-weight: bold;
    border-radius: 50px;
    border: hidden;
    margin: 0% 2.5px;
    width: 100%;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
    text-align: center;
    font-size: 1em;
}

@media screen and (max-width: 770px) {
    .Sitebutts {
    padding: 15px;
    margin: 2.5px 0%;
    font-size: 20px;
}
}

.Sitebutts-poo {
    color: #fff;
    background-image: linear-gradient(#ff5c9d, #ff0059, #a8004f);
    padding: 15px;
    font-weight: bold;
    border-radius: 50px;
    border: solid;
    border-width: medium;
    border-color: #000;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
    font-size: 15px;
}

.Sitebutts:hover {
    background-image: linear-gradient(#ff9fc5, #ff5c9d, #ff0059);
}

.Sitebutts:focus {
    background-image: linear-gradient(#a8004f, #ff0059, #ff5c9d);
}

a.copyright:link {
    text-decoration: none;
    color: #ffffff;
    text-shadow: rgba(0, 0, 0, 1) 1px 1px 2px;
}

a.copyright:visited {
    color: #ffffff;
}

a.copyright:hover {
    color: #ffffff;
}

a.copyright:active {
    color: #ffffff;
}

a.copyright:focus {
    color: #f2f2f2;
}

.logs {
    color: #fff;
    background-image: linear-gradient(#ff5c9d, #ff0059, #a8004f);
    border-radius: 15px;
    border: hidden;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
    filter: drop-shadow(rgba(0, 0, 0, 0.8) 1px 1px 2px);
    width: 100%;
    margin-bottom: 15px;
}

.logs {
    color: #fff;
    background-image: linear-gradient(#ff5c9d, #ff0059, #a8004f);
    border-radius: 15px;
    border: hidden;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
    filter: drop-shadow(rgba(0, 0, 0, 0.8) 1px 1px 2px);
    width: 100%;
    margin-bottom: 15px;
}

hr {
    border-width: 2px;
    border-style: dashed;
    border-color: #000;
}

.parent {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    max-height: 600px;
}

.div1 {
    grid-area: 1 / 7 / 6 / 12;
    filter: drop-shadow(rgba(0, 0, 0, 0.8) 1px 1px 2px);
}
.div2 {
    grid-area: 6 / 7 / 8 / 12;
    filter: drop-shadow(rgba(0, 0, 0, 0.8) 1px 1px 2px);
}
.div3 {
    grid-area: 1 / 1 / 5 / 7;
    filter: drop-shadow(rgba(0, 0, 0, 0.8) 1px 1px 2px);
}
.div4 {
    grid-area: 5 / 1 / 8 / 7;
    filter: drop-shadow(rgba(0, 0, 0, 0.8) 1px 1px 2px);
}

.imagegrid {
    object-fit: cover;
    object-position: center;
}

.sideparent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
}

.side1 {
    grid-area: 1 / 1 / 2 / 2;
}
.side2 {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: flex-end;
}

.dropshadow {
    filter: drop-shadow(rgba(0, 0, 0, 0.4) 1px 1px 2px);
}

a:link {
  text-decoration: none;
  color: #ff0059;
}

a:visited {
  color: #ff0059;
}

a:hover {
  color: #ff80ac;
}

a:active {
  color: #ffffff;
}

.buttonlol:hover {
    filter: contrast(85%) brightness(150%) drop-shadow(rgba(0, 0, 0, 0.4) 1px 1px 2px);
}

.tumb {
    border-radius: 25%;
    filter: drop-shadow(rgba(0, 0, 0, 0.4) 1px 1px 2px);
    margin: auto;
    padding: 2px;
    width: 50px;
}

@media screen and (max-width: 700px) {
    .tumb {
    min-width: 24%;
}
}

@media screen and (max-width: 550px) {
    .tumb {
    min-width: 32%;
}
}

.mybabys{
    border-radius: 15px;
}

.meangreybitch {
    background-image: linear-gradient(#b3b3b3, #7f7f7f, #3a3a3a);
    border-radius: 15px;
    border: hidden;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
    filter: drop-shadow(rgba(0, 0, 0, 0.8) 1px 1px 2px);
    width: 100%;
    margin-bottom: 15px;
}

.meangreybitch code{
    color: #fff;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: bold
}

.blodest {
    text-transform: uppercase;
    font-weight: bold;
}

.butt {
  filter: contrast(100%) brightness(100%);
}

.butt:hover {
  animation: flicker 1s step-start infinite;
  scale: 103%;
}

@keyframes flicker {
  50% {
    filter: contrast(50%) brightness(150%);
  }
  0% {
    filter: contrast(100%) brightness(100%);
  }    
}
    
#statuscafe {
    border: hidden;
    width: 100%;
    margin-bottom: 1px;
}

@media screen and (max-width: 770px) {
    #statuscafe {
    margin-bottom: 15px;
}
}

#statuscafe-username {
    margin-bottom: .5em;
    text-transform: uppercase;
    font-weight: bold;
}
#statuscafe-content {
    margin: 0%
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    color: #fff;
    background-image: linear-gradient(#ff5c9d, #ff0059, #a8004f);
    padding: 15px 25px;
    border-radius: 50px;
    border: hidden;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 3px 3px 5px);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#backToTop:hover {
    background-image: linear-gradient(#ff9fc5, #ff5c9d, #ff0059);
}

@media screen and (max-width: 700px) {
    #backToTop:hover {
        background-image: linear-gradient(#ff5c9d, #ff0059, #a8004f);
    }
}
    
::-moz-selection { /* Code for Firefox */
 color: #fff;
  background: #0004c582;
}

::selection {
  color: #fff;
  background: #0004c582;
}