#c_widget {
    box-sizing: border-box;
    width: 100%;
}


#c_form {
    background-color: var(--surface-color);
    padding: 10px;
    position: relative;
    text-align: left;
    border: 1px solid var(--border-color);
    margin: 25px 0 5px;
}

#c_widgetTitle {
    margin: 0 0 0 0;
    padding-bottom: 10px;
}

.c-inputWrapper {
    margin-bottom: 15px;
}

.c-label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}

.c-input {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background: #f9f9f9;
    color: #333;
    transition: border-color 0.2s;
    overflow: hidden;
}

.c-input:focus {
    outline: none;
    border-color: var(--primary-color);
    background: #fff;
}

#c_submitButton {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
}

#c_submitButton:hover {
    text-decoration: underline;
}

#c_successMessage {
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    position: relative;
    border: 1px solid var(--border-color);
}

#c_askSummary {
    padding: 10px 10px;
    background-color: var(--primary-color);
    list-style: none;
    display: block;
    color: #fff;
    cursor: pointer;
}

#c_askSummary::after {
    content: " ▼";
    float: right;
}

details[open] #c_askSummary::after {
    content: " ▲";
}

#c_askSummary::-webkit-details-marker {
    display: none;
}



.c-comment {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid var(--border-color);
}

.c-reply {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid var(--border-color);
}

.c-reply:last-child {
    margin-bottom: 0;
}

.c-name {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    text-decoration: none;
}

.c-site {
    color: var(--primary-color);
    text-decoration: none;
}

.c-site:hover {
    text-decoration: underline;
}

.c-timestamp {
    float: right;
    color: #999;
    font-size: 0.85em;
}

.c-text {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    text-align: justify;
    line-height: 1.5;
}

#c_pagination {
    text-align: center;
    margin-top: 20px;
}

.c-replyButton, .c-expandButton, .c-paginationButton {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 3px 8px;
    margin-top: 10px;
    font-size: 0.85em;
    transition: all 0.2s;
}

.c-replyButton:hover, .c-expandButton:hover, .c-paginationButton:hover {
    text-decoration: underline;
}

.c-expandButton {
    float: right;
}

.c-paginationButton {
    margin-right: 4px;
    margin-left: 4px;
}

@media screen and (max-width: 768px) {
    .c-timestamp {
        float: none;
        display: block;
        margin-top: 2px;
        font-size: 0.8em;
    }
}